h1{
	font-style:oblique;
	font-family:Helvetica; 
	color: rgb(0,0,14);
}
body{
	font-family:Helvetica; 
}

.box {
    background-color: rgb(230, 230, 230);
    border: 5px solid rgb(191, 191, 191);
}

#intro{
	font-style:oblique;
	color: rgb(254, 254, 254);
}