#div1{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 1;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 4.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: linear;
}

#div2{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 2;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 9.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: reverse;
}


#div3{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 3;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 14.5;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: reverse;
}

#div4{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 4;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 19.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: reverse;
}

#div5{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 5;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 24.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: reverse;
}


#div6{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 4;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 29.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: linear;
}




#div7{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 4;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 34.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: linear;
}

#div8{
	margin: 10vw 10vh;
	float: left;
	width: 20vw;
	height: 1vh;
	background-color: #FF7F50;
	z-index: 4;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 39.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: linear;
}



#div9{
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 44.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: linear;
}


@-webkit-keyframes rotation{
	from {-webkit-transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	to {-webkit-transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}


body{
	transform-origin: 50% 50%;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: cubic-bezier(.14,0,0,.99);
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	background-color: #D2691E;
}