body{
	background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

button{
	
	padding: 10px;
	color: black;
	background-color: lightblue;
}


.buttonCenter{
	position: relative;
	margin: auto, 0;
}